* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --light: #f9f4f4;
  --green: #5db469;
  --white: #ffffff;
  --orange: #fb7c14;
}

body {
  background: var(--light);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}
.container {
  background: var(--green);
  padding: 20px;
  border: none;
  border-radius: 16px;
}
input {
  width: 320px;
  padding: 25px;
  font-size: 40px;
  border: none;
  margin: 10px;
  background: transparent;
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    8px 8px 15px rgba(255, 255, 255, 0.2);
}
button {
  width: 60px;
  margin: 10px;
  height: 60px;
  border-radius: 50%;
  border: none;
  background: transparent;
  color: var(--white);
  box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1),
    8px 8px 15px rgba(255, 255, 255, 0.2);
  font-size: 25px;
  font-weight: bold;
  cursor: pointer;
}
.znakJednakosti {
  background-color: var(--orange);
}
